streamlit
pandasai
numpy==1.26.4
pandas==1.5.3
langchain
requests
langchain-core
langchain_openai
langchain_google_genai
openai
langchain_community
langchain_experimental
tabulate
matplotlib
seaborn
Pillow
